<!DOCTYPE HTML>

<html class='html'>
<html lang="ru">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" type="text/css" href="./style/auth.css">
</head>

<body class='body'>
<header class='header'>
    <h1> Что ты знаешь о своих подписчиках на GitHub?</h1>

</header>

<main class='main'>
    <h2> Посмотрим, где они?</h2>
    <a href='https://github.com/login/oauth/authorize?client_id=Iv1.ea2789a87a52c353'>
        <img src="github.png" width="50"  alt="Авторизация github">
        Войди в свой акаунт
    </a>
</main>

<footer class='footer'>
    <%- include('./partials/footer'); %>
</footer>
</body>
</html>